<h1 class="text-center">PayForm</h1>
<div class="col-md-12">
  {{payForm.value | json}}
{{payForm.status | json}}
</div>
<form [formGroup]="payForm" (ngSubmit)="submit()">

<div class="col-md-4">
  <div formGroupName="payer">

    <div class="form-group">
      <label for="firstName">First name: </label>
      <input [ngClass]="{'is-invalid': payForm.controls.payer.controls.firstName.invalid && submitTried}" type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" formControlName="firstName">
      <div *ngIf="payForm.controls.payer.controls.firstName.invalid && submitTried" class="invalid-feedback">This field is required</div>
    </div>
  
    <div class="form-group">
      <label for="lastName">Last name: </label>
      <input [ngClass]="{'is-invalid': payForm.controls.payer.controls.lastName.invalid && submitTried}" type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" formControlName="lastName">
      <div *ngIf="payForm.controls.payer.controls.lastName.invalid && submitTried" class="invalid-feedback">This field is required</div>
    </div>

    <div class="form-group">
      <label for="streetName">Street name</label>
      <input [ngClass]="{'is-invalid': payForm.controls.payer.controls.streetName.invalid && submitTried}" type="text" class="form-control" id="streetName" name="streetName" placeholder="Enter street name" formControlName="streetName">
      <div *ngIf="payForm.controls.payer.controls.streetName.invalid && submitTried" class="invalid-feedback">This field is required</div>
    </div>

    <div class="form-group">
      <label for="streetNumber">Street number </label>
      <input [ngClass]="{'is-invalid': payForm.controls.payer.controls.streetNumber.invalid && submitTried}" type="text" class="form-control" id="streetNumber" name="streetNumber" placeholder="Enter street number" formControlName="streetNumber">
      <div *ngIf="payForm.controls.payer.controls.streetNumber.invalid && submitTried" class="invalid-feedback">This field is required</div>
    </div>

  </div>
 

  <div class="form-group">
    <label for="purpose">Purpose</label>
    <input [ngClass]="{'is-invalid': payForm.controls.purpose.invalid && submitTried}"  type="text" class="form-control" id="purpose" name="purpose" placeholder="What is the purpose of this payment?" formControlName="purpose">
    <div *ngIf="payForm.controls.purpose.invalid && submitTried" class="invalid-feedback">This field is required</div>
  </div>

  <div class="form-group">
    <label for="reciever">Reciever</label>
    <textarea [ngClass]="{'is-invalid': payForm.controls.reciever.invalid && submitTried}"  type="text" class="form-control" id="reciever" name="reciever" placeholder="Enter the reciever" formControlName="reciever" rows="10"></textarea>
    <div *ngIf="payForm.controls.reciever.invalid && submitTried" class="invalid-feedback">This field is required</div>
  </div>


</div>  <!--Pull left-->

<div class="col-md-6">
  
    <div class="col-md-3">
      <div class="form-group">
        <label for="paymentCode">Payment code</label>
        <input [ngClass]="{'is-invalid': payForm.controls.paymentCode.invalid && submitTried}"  type="text" class="form-control" id="paymentCode" name="paymentCode" placeholder="Payment code" formControlName="paymentCode">
        <div *ngIf="payForm.controls.paymentCode.invalid && submitTried" class="invalid-feedback">This field is required</div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="form-group">
        <label for="currency">Currency</label>
        <select [ngClass]="{'is-invalid': payForm.controls.currency.invalid && submitTried}"  class="form-control" id="currency" formControlName="currency">
          <option value="" disabled selected>Choose...</option>
          <option *ngFor="let option of currencyModel.currencies" [value]="option.symbol">{{option.name}}</option>
        </select>
        <div *ngIf="payForm.controls.currency.invalid && submitTried" class="invalid-feedback">This field is required</div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="ammount">Ammount</label>
        <input [ngClass]="{'is-invalid': payForm.controls.ammount.invalid && submitTried}"  type="text" class="form-control" id="ammount" name="ammount" placeholder="Ammount" formControlName="ammount">
        <div *ngIf="payForm.controls.ammount.invalid && submitTried" class="invalid-feedback">This field is required</div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <label for="accountNumber">Account number</label>
        <input [ngClass]="{'is-invalid': payForm.controls.accountNumber.invalid && submitTried}"  type="text" class="form-control" id="accountNumber" name="accountNumber" placeholder="Enter Account Number" formControlName="accountNumber">
        <div *ngIf="payForm.controls.accountNumber.invalid && submitTried" class="invalid-feedback">This field is required</div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="model">Model</label>
        <input [ngClass]="{'is-invalid': payForm.controls.model.invalid && submitTried}"  type="text" class="form-control" id="model" name="model" placeholder="Enter model" formControlName="model">
        <div *ngIf="payForm.controls.model.invalid && submitTried" class="invalid-feedback">This field is required</div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="form-group">
        <label for="referenceNumber">Reference number</label>
        <input [ngClass]="{'is-invalid': payForm.controls.referenceNumber.invalid && submitTried}"  type="text" class="form-control" id="referenceNumber" name="referenceNumber" placeholder="Enter reference number" formControlName="referenceNumber">
        <div *ngIf="payForm.controls.referenceNumber.invalid && submitTried" class="invalid-feedback">This field is required</div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group" >
        <div class="form-check"  [ngClass]="{'is-invalid': payForm.controls.sign.invalid && submitTried}">
          <input  type="checkbox" class="form-check-input" id="sign" name="sign"  formControlName="sign">
          <label class="form-check-label" for="sign">Sign</label>
        </div>
        <div *ngIf="payForm.controls.sign.invalid && submitTried" class="invalid-feedback">This field is required</div>
      </div>
    </div>

    <div class="col-md-12">
      <button type="submit" class="btn btn-primary" [ngClass]="{'btn-danger': payForm.invalid && submitTried}" >Submit</button>
    </div>
    
</div>

</form>
